<div class="sticky-header full">

    <div class="page-details">
      <div class="bread-crumbs-container">
        <a href="" class="bread-crumb-label">
          <div class="wrapper">
            <div class="text-ellipsis">Entry 1</div>
          </div>
        </a>
        <span class="crumb-divider">/</span>
        <a href="" class="bread-crumb-label">
          <div class="wrapper">
            <div class="text-ellipsis">Entry 2</div>
          </div>
        </a>
      </div>
      <div class="page-avatar-info">
        <div class="avatar"></div>
        <div class="page-info">
          <div class="page-info-primary">
            <span class="page-title-container"><h1>Page Title</h1></span>
            <div class="Signpost"></div>
            <div class="Chips"></div>
          </div>

          <div class="page-info-secondary">
              <div class="header-meta-wrapper">
                <span class="header-meta-wrapper-content">
                  <div class="header-meta-item large-dot">
                    <span class="p4 header-meta-element header-label">Label:</span>
                    <span class="header-meta-element header-value">Value</span>
                  </div>
                  <div class="header-meta-item large-dot">
                    <span class="p4 header-meta-element header-label">Label:</span>
                    <span class="header-meta-element header-value">Value</span>
                  </div>
                  <div class="header-meta-item hide-in-header">
                    <span class="p4 header-meta-element header-label">Label:</span>
                    <span class="header-meta-element header-value">Value</span>
                  </div>
                </span>
                <a href="" class="nav-link ml-x2">View Details</a>
              </div>
              <div class="header-subtitle-wrapper">This is header subtitle. The header subtitle will be hidden in minimized view.</div>
          </div>

        </div>
      </div>
    </div>

    <div class="header-actions">
      <div class="header-actions-wrapper-top">
        <button class="btn btn-link btn-sm">
          <cds-icon shape="bookmark"></cds-icon>
          Bookmark
        </button>
        <button class="btn btn-link btn-sm">
          <cds-icon shape="share"></cds-icon>
          Share
          <span class="badge">8</span>
        </button>
      </div>
      <div class="header-actions-wrapper-bottom">
        <button class="btn btn-primary btn-sm">Action</button>
        <button class="btn btn-sm">Action</button>
        <button class="btn btn-sm">Action</button>
      </div>
    </div>

  </div>