<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="javascript://">
        <span class="title">UI-Common</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-toggle-container>
        <clr-toggle-wrapper>
          <input
            #ref
            clrToggle
            checked
            (change)="toggleVisionTheme(ref.checked)"
            type="checkbox"
            id="use-vision-theme"
          />
          <label
            for="use-vision-theme"
            class="text-gray"
          >
            Vision Theme
          </label>
        </clr-toggle-wrapper>
      </clr-toggle-container>
      <dpa-theme-toggle
        [theme]="theme"
        (themeChange)="onThemeChange($event)"
      />
    </div>
  </header>
  <div class="content-container">
    <main class="content-area">
      <!-- Add content here -->
    </main>
  </div>
</div>
